extends layout

block content
  section.dashboard
    h1 D a s h b o a r d
    p </br>
    .image-links
      div.image-container
        a(href="/upload-assignment")
          img(src="../images/upload.png", alt="Submit New Assignment")
          h3 Submit New Assignment
        a(href="/plagiarism-checker")
          img(src="../images/plag.jpg", alt="Plagiarism Checker")
          h3 Plagiarism Checker