extends layout

block content
  .container
    .section(style="background-image: url('../images/back3.jpg');background-repeat: no-repeat; background-size: cover; padding: 70px; margin-bottom: 20px; border-radius: 5px; margin-top: 0px; margin-left: -100px; margin-right: -100px")
      h1(style='color: #000000; font-weight: bold; font-size: 80px;') CopyCheck
      h3(style='color: #000000; font-weight: bold; font-size: 50px;')
        | Student Assignment Integrity and Grading

    // Section for "Mission"
    .section(style='padding: 0px; margin-bottom: 0px; border-radius: 5px; margin-top: 0px; margin-left: -100px; margin-right: -100px')
      h2(style='color: #000000;') &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspGet Started...
      p(style='color: #000000;')
        | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTo get started, log in to your account and upload assignments for analysis.

    // Section for "About Us"
    .section(style='padding: 20px; margin-bottom: 20px; border-radius: 5px; margin-top: 0px; margin-left: -100px; margin-right: -100px')
      h2(style='color: #000000;') &nbsp&nbsp&nbsp&nbsp&nbsp About Us
      p(style='color: #000000;')
        | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWelcome to CopyCheck, your trusted partner in maintaining academic integrity and promoting fair evaluation practices. CopyCheck is a sophisticated plagiarism detection &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspand grading system designed to streamline the assignment evaluation process in educational institutions. At CopyCheck, our mission is to empower educators and &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspinstitutions to uphold the highest standards of academic honesty. We believe in fostering a learning environment where originality is celebrated, and students are &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspencouraged to express their unique ideas. CopyCheck employs cutting-edge technology, including web scraping, advanced text similarity algorithms, and deep learning &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspmodels. This ensures a comprehensive analysis of student assignments, providing educators with accurate and reliable results. Our user-friendly interface is designed to &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspmake the plagiarism detection and grading process smooth and intuitive. Whether you're an administrator configuring system settings or a student submitting an &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspassignment, CopyCheck is tailored to meet your needs.
