extends layout

block content
  section.upload-assignment
    .upload-container
      h1 Upload Assignment

      form(action="/reports")
        .form-group
          label(for="numberOfFiles") Number of Files:
          input(type="number", name="numberOfFiles", id="numberOfFiles", min="1", required)

        .form-group
          label(for="assignmentFile") Choose a file:
          input(type="file", name="assignmentFile", id="assignmentFile", required, multiple)

        .form-group
          label(for="assignmentTitle") Assignment Title:
          input(type="text", name="assignmentTitle", id="assignmentTitle", required)

        .form-group
          button(type="submit") Upload Assignment
